.swiperWrapper {
  position: relative;
  margin: 0;
  padding: 0;    
  width: 100%;
  min-height: fit-content;
  height: 100%;  
  display: grid;
  place-content: center;
  
  color: black;
}



@media (min-width: 768px) {
  .swiperWrapper {
      width: 50%;
  }
}