.swipe_wrapper {
  position: relative;
  margin: 0;
  padding: 0;    
  width: 100%;
  min-height: fit-content;
  height: 100%;  
  
  color: black;
}



@media (min-width: 768px) {
  .swipe_wrapper {
      width: 50%;
  }
}